<div id="skrollr-body">
	<div id="load">
		<a href="#menu"><img data-anchor-target="#to_main" data-start="transform:translate(0,0vh);visibility:visible;" data-center="transform:translate(0,100vh);visibility:hidden;" id="load_bt_norm" src="/assets/before_load/load_bt_norm.png" alt="Load bt norm"></a>
	</div>
	<div id="to_main"></div>
	<div id="menu">
		<a href="#load"><img data-anchor-target="#to_main" data-start="transform:translate(0,0vh);visibility:hidden;" data-center="transform:translate(0,-100vh);visibility:visible;" data-top-bottom="transform:translate(0,0vh);visibility:visible;" id="main_image" src="/assets/main/main_image.png" alt="Main image"></a>
		<!--  <nav id="menu_nav"> -->
		<div id="menu_bar">
			<div class="spacer"></div>
			<a href="#intro_page"><img class="bt" id="bt_intro_norm" src="/assets/main/bt_intro_norm.png" alt="Bt intro norm"></a>
			<div class="spacer"></div>
			<a href="#review_bottom"><img class="bt" id="bt_review_norm" src="/assets/main/bt_review_norm.png" alt="Bt review norm"></a>
			<div class="spacer"></div>
			<a href="#third_bottom"><img class="bt" id="bt_3_norm" src="/assets/main/bt_3_norm.png" alt="Bt 3 norm"></a>
			<div class="spacer"></div>
			<a href="#contact"><img class="bt" id="bt_contact_norm" src="/assets/main/bt_contact_norm.png" alt="Bt contact norm"></a>
			<div class="spacer"></div>
		</div>
		<!-- </nav> -->
	</div>
	<img data--30p-bottom="transform:translate(0,0vh);" data--230p-bottom="transform:translate(0,200vh);" id="intro_page" src="/assets/intro/intro_page.png" alt="Intro page">
	<div data-bottom="transform:translate(0,0vh);" data--200p-bottom="transform:translate(0,200vh);" style="height: 30vh;background-color: #5FCEE7;z-index: 5;">
	</div>
	<img id="review_top" src="/assets/review/review_top.png" alt="Review">
	<img data--30p-bottom="transform:translate(0,0vh);" data--230p-bottom="transform:translate(0,200vh);" id="review_bottom" src="/assets/review/review_bottom.png" alt="Review">
	<div data-bottom="transform:translate(0,0vh);" data--200p-bottom="transform:translate(0,200vh);" style="height: 30vh;background-color: #FFFFFF;z-index: 5;">
	</div>
	<div id="third">
		<div id="third_content">
			<img id="third_top" src="/assets/third/third_top.png" alt="Third front">
		</div>
		<div>
			<img id="third_bottom" src="/assets/third/third_bottom.png" alt="Third back"
		</div>
	</div>
	<div id="contact">
		<img id="contact_frame" class="cct" src="/assets/contact/contact_frame.png" alt="Contact frame">
		<div id="contact_content" class="cct">
			<img id="contact_title" src="/assets/contact/contact_title.png" alt="Contact title">
			<div id="contact_bts">
				<a href="http://www.likelion.net" target="_blank"><img id="bt_lionpage_norm" class="cbts" src="/assets/contact/bt_lionpage_norm.png" alt="Bt lionpage norm"></a>
				<a href="http://www.facebook.com/likelion.net" target="_blank"><img id="bt_lionface_norm" class="cbts" src="/assets/contact/bt_lionface_norm.png" alt="Bt lionface norm"></a>
				<a href="http://www.facebook.com/likelionkonkuk" target="_blank"><img id="bt_kuface_norm" class="cbts" src="/assets/contact/bt_kuface_norm.png" alt="Bt kuface norm"></a>
			</div>
			<%#
			<div id="application">
				<div>
					<a href="http://www.likelion.net" target="_blank">
						<img id="apply" class="cbts" src="/assets/apply/apply_norm.png" alt="Apply">
					</a>
					<a href="/apply.pdf" target="_blank">
						<img id="pdf" class="cbts" src="/assets/apply/pdf_norm.png" alt="Pdf">
					</a>
				</div>
				<div>
					<h3>지원하기 & 모집요강</h3>
				</div>
			</div>
			%>
			<img id="contact_email" class="cct" src="/assets/contact/contact_email.png" alt="Contact email">
		</div>
	</div>
	<%# <div style="height: 100vh;"></div> %>
</div>
