<div id="skrollr-body">
	<div id="load">
		<img data-anchor-target="#to_main" data-50p-start="position:fixed;visibility:visible;" data-center="position:fixed;visibility:hidden;" id="load_bt_norm" src="/assets/before_load/load_bt_norm.png" alt="Load bt norm">
	</div>
	<img id="to_main" src="/assets/main/to_main.png" alt="To main">
	<div id="menu">
		<img data-anchor-target="#to_main" data-start="position:fixed;visibility:hidden;" data-center="position:fixed;visibility:visible;" data-top-bottom="position:absolute;visibility:visible;" id="main_image" src="/assets/main/main_image.png" alt="Main image">
		<div id="navbar">
			<img class="bt" id="bt_intro_norm" src="/assets/main/bt_intro_norm.png" alt="Bt intro norm">
			<img class="bt" id="bt_review_norm" src="/assets/main/bt_review_norm.png" alt="Bt review norm">
			<img class="bt" id="bt_3_norm" src="/assets/main/bt_3_norm.png" alt="Bt 3 norm">
			<img class="bt" id="bt_contact_norm" src="/assets/main/bt_contact_norm.png" alt="Bt contact norm">
		</div>
	</div>
	<img id="intro_page" src="/assets/intro/intro_page.png" alt="Intro page">
	<img id="review" src="/assets/review/review.png" alt="Review">
	<img id="third_lion" src="/assets/3lion/3lion.png" alt="Third lion">
	<div style="height: 100vh;">
	</div>
	<div style="height: 100vh;">
	</div>
	<div style="height: 100vh;">
	</div>
</div>
