<div id="skrollr-body">
	<div id="load">
		<img data-anchor-target="#to_main" data-start="transform:translate(0,0vh);visibility:visible;" data-center="transform:translate(0,100vh);visibility:hidden;" id="load_bt_norm" src="/assets/before_load/load_bt_norm.png" alt="Load bt norm">
	</div>
	<div id="to_main"></div>
	<div id="menu">
		<img data-anchor-target="#to_main" data-start="transform:translate(0,0vh);visibility:hidden;" data-center="transform:translate(0,-100vh);visibility:visible;" data-top-bottom="transform:translate(0,0vh);visibility:visible;" id="main_image" src="/assets/main/main_image.png" alt="Main image">
		<!--  nav id="menu_nav"-->
		<div id="menu_bar">
			<img class="bt" id="bt_intro_norm" src="/assets/main/bt_intro_norm.png" alt="Bt intro norm">
			<img class="bt" id="bt_review_norm" src="/assets/main/bt_review_norm.png" alt="Bt review norm">
			<img class="bt" id="bt_3_norm" src="/assets/main/bt_3_norm.png" alt="Bt 3 norm">
			<img class="bt" id="bt_contact_norm" src="/assets/main/bt_contact_norm.png" alt="Bt contact norm">
		</div>
		<!-- </nav> -->
	</div>
	<img data-bottom="transform:translate(0,0vh);" data--200p-bottom="transform:translate(0,200vh);" id="intro_page" src="/assets/intro/intro_page.png" alt="Intro page">
	<img data-bottom="transform:translate(0,0vh);" data--200p-bottom="transform:translate(0,200vh);" id="review" src="/assets/review/review.png" alt="Review">
	<div id="third">
		<div id="third_content">
			<img id="third_front" src="/assets/3lion/3lion_front.png" alt="Third front">
		</div>
		<div>
			<img id="third_back" src="/assets/3lion/3lion_back.png" alt="Third back"
		</div>
	</div>
	<div id="contact">
		<img id="contact_frame" class="cct" src="/assets/contact/contact_frame.png" alt="Contact frame">
		<div id="contact_content" class="cct">
			<img id="contact_title" src="/assets/contact/contact_title.png" alt="Contact title">
			<div id="contact_bts">
				<a href="http://www.likelion.net" target="_blank"><img id="bt_lionpage_norm" class="cbts" src="/assets/contact/bt_lionpage_norm.png" alt="Bt lionpage norm"></a>
				<a href="http://www.facebook.com/likelion.net" target="_blank"><img id="bt_lionface_norm" class="cbts" src="/assets/contact/bt_lionface_norm.png" alt="Bt lionface norm"></a>
				<a href="http://www.facebook.com/likelionkonkuk" target="_blank"><img id="bt_kuface_norm" class="cbts" src="/assets/contact/bt_kuface_norm.png" alt="Bt kuface norm"></a>
			</div>
			<img id="contact_email" class="cct" src="/assets/contact/contact_email.png" alt="Contact email">
		</div>
	</div>
	<div style="height: 100vh;">
		
	</div>
	<!--<div style="height: 100vh;"></div>-->
</div>
