<div id="skrollr-body">
	<div id="load">
		<img data-anchor-target="#to_main" data-50p-start="position:fixed;visibility:visible;" data-center="position:fixed;visibility:hidden;" id="load_bt_norm" src="/assets/before_load/load_bt_norm.png" alt="Load bt norm">
	</div>
	<img id="to_main" src="/assets/main/to_main.png" alt="To main">
	<div id="menu">
		<img data-anchor-target="#to_main" data-start="position:fixed;visibility:hidden;" data-center="position:fixed;visibility:visible;" data-top-bottom="position:absolute;visibility:visible;" id="main_image" src="/assets/main/main_image.png" alt="Main image">
	</div>
	<div style="height: 100vh;">
	</div>
	<div style="height: 100vh;">
	</div>
</div>
