/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}
body {
	background-image: url("/assets/bg.jpg");
	background-repeat: repeat;
	margin: 0;
	text-align: center;
}
#load {
	height: 100vh;
}
#load_bt_norm {
	z-index: 1;
	/*vertical centered begins.*/
	margin:auto auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    /*vertical centered ends.*/
	max-width: 397px;
}
#to_main {
	z-index: 100;
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
}
#menu {
	position: relative;
	height: 100vh;
}
#main_image {
	z-index: 1;
	/*vertical centered begins.*/
	margin:auto auto;
	display: table;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	/*vertical centered ends.*/
	max-width: 532px;
}
/*
#menu_nav {
	z-index: 200;
	margin-bottom: 80px;
}
.main-nav-scrolled {
	z-index: 200;
  position: fixed;
  width: 100%;
  top: 0;
 }
 */
#menu_bar {
	position: relative;
	top: 80vh;
}
.bt {
	margin-left: 35px;
	margin-right: 35px;
}
#intro_page {
	height: 100%;
	width: 100%;
}
#review {
	height: 100%;
	width: 100%;
}
#review_clone {
	position: fixed;
	width: 100%;
	left: 0;
}
#third {
	position:relative;
}
#third_lion {
	height: 100%;
	width: 100%;
}
#third_content {
}
#third_front {
	position: absolute;
	left: 0;
	width: 100%;
}
#contact {
	position: relative;
	height: 100vh;
}
#contact_frame {
	height: 100%;
	width: 100%;
}
#contact_content {
	/*vertical centered begins.*/
	margin:auto auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    /*vertical centered ends.*/
}
#contact_title {
	margin-top: 15vh;
}
.cct {
	margin-left:0 auto;
}
.cbts {
	margin: 5vh;
}
