/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}
body {
	background-image: url("/assets/bg.jpg");
	background-repeat: repeat;
	margin: 0;
	text-align: center;
}
#load {
	position: relative;
	height: 100vh;
}
#load_bt_norm {
	z-index: 1;
	/*vertical centered begins.*/
	margin:auto auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    /*vertical centered ends.*/
   	width: 66%;
	max-width: 397px;
}
#to_main {
	position: relative;
	z-index: 2;
	height: 100vh;
	background-image: url("/assets/main/to_main.png");
	background-size: contain;
	background-repeat: repeat-x;
}
#menu {
	position: relative;
	height: 100vh;
}
#main_image {
	z-index: 1;
	/*vertical centered begins.*/
	margin:auto auto;
	display: table;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	/*vertical centered ends.*/
	width: 90%;
	max-width: 532px;
}
/*
#menu_nav {
	z-index: 200;
	margin-bottom: 80px;
}
.main-nav-scrolled {
	z-index: 200;
  position: fixed;
  width: 100%;
  top: 0;
 }
 */
#menu_bar {
	position: relative;
	top: 80vh;
}
.bt {
	display: inline-block;
	width: 15%;
	max-width: 114px;
}
.spacer {
	display: inline-block;
	width: 5%;
	max-width: 70px;
}
#intro_page {
	position: relative;
	z-index: 1;
	width: 100%;
}
#review_top {
	position: relative;
	z-index: 2;
	width: 100%;
}
#review_bottom {
	position: relative;
	z-index: 2;
	width: 100%;
}
#third {
	position:relative;
	z-index: 3;
}
#third_top {
	width: 100%;
}
#third_bottom {
	width: 100%;
	background-image: url("/assets/bg.jpg");
	background-repeat: repeat;
}
#contact {
	position: relative;
	height: 100vh;
	background-image: url("/assets/bg.jpg");
	background-repeat: repeat;
}
#contact_frame {
	height: 100%;
	width: 100%;
}
#contact_content {
	/*vertical centered begins.*/
	margin:auto auto;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    /*vertical centered ends.*/
}
#contact_title {
	margin-top: 25vh;
	width: 60%;
	max-width: 293px;
}
.cbts {
	margin: 2vh;
}
#bt_lionpage_norm {
	width: 18vh;
}
#bt_lionface_norm {
	width: 18vh;
}
#bt_kuface_norm {
	width: 12vh;
}
#application {
	padding-top: 25vh;
}
#apply {
	display: inline-block;
	width: 18vh;
}
#pdf {
	display: inline-block;
	width: 18vh;
}
h3 {
	color: #F39803;
}
