<!DOCTYPE html>
<html>
<head>
  <title>Likelionkonkuk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

	<script type="text/javascript" src="/assets/skrollr.min.js"></script>
	<script type="text/javascript" src="/assets/skrollr.menu.min.js"></script>
	<script type="text/javascript" src="/assets/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="/assets/jquery-ui.min.js"></script>
	<script>
		//skrollr begins.
		var s = skrollr.init({
		});
		//skrollr ends.
		//skrollr menu begins.
		skrollr.menu.init();
		//skrollr menu ends.
	</script>
	<script>
	   $(document).ready(function(){
	   		//nav
		   $(window).bind('scroll', function() {
		   var navHeight = $( window ).height()*3;
				 if ($(window).scrollTop() > navHeight) {
					 $('nav').addClass('fixed');
				 }
				 else {
					 $('nav').removeClass('fixed');
				 }
			});
			
			//load
			window.setInterval(function() {
				$("#load_bt_norm").effect("pulsate",1000)
			}, 5000);
			$("#load_bt_norm").hover(
				function(){
					$(this).attr("src", "/assets/before_load/load_bt_hover.png");
				},
				function(){
					$(this).attr("src", "/assets/before_load/load_bt_norm.png");
				}
			);
			$("#load_bt_norm").click(function(){
				$('html, body').animate({
				    scrollTop: $("#menu").offset().top
				}, 1300, 'easeInOutQuint');
			});
			$("#main_image").click(function(){
				$('html, body').animate({
				    scrollTop: $("#load").offset().top
				}, 1300, 'easeInOutQuint');
			});
		});
	</script>

</body>
</html>
