<!DOCTYPE html>
<html>
<head>
  <title>Likelionkonkuk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

	<script type="text/javascript" src="/assets/skrollr.min.js"></script>
	<script type="text/javascript" src="/assets/skrollr.menu.min.js"></script>
	<script>
		//skrollr begins.
		var s = skrollr.init({
		});
		//skrollr ends.
		//skrollr menu begins.
		skrollr.menu.init();
		//skrollr menu ends.
	</script>

</body>
</html>
